.connection-status {

  padding-left: $default-spacing / 2 !important;

  %status {
    border-right: none !important;
    border-radius: $default-spacing / 2 0 0 0;
    @include transition(
      box-shadow $default-transition,
      color $default-transition
    );
  }

  .connected {
    @extend %status;

    color: $color-green;
    box-shadow:
      inset 0 0 0 .15em rgba($color-green, .5)
    ;
  }

  .not-connected {
    @extend %status;

    @include animation(ThunderCommander_connection-status_not-connected .05s infinite ease-in-out);
    color: $color-red;
    box-shadow:
      inset 0 0 0 .15em rgba($color-red, .5)
    ;
  }
}

@include keyframes(ThunderCommander_connection-status_not-connected) {
  0%, 25%, 100% {
    background: $color-black;
    color: inherit;
  }

  25%, 75% {
    background: darken($color-red, 0%);
    color: $color-black;
  }
}