h1 {
  font-weight: 700;
  font-size: 4em;
  margin: 0;
  text-transform: uppercase;
  color: $color-white;

  > span {
    color: $color-red;
  }

  @include breakpoint(small) {
    font-size: 2.75em;
  }
}

h2 {
  margin: 0;
  text-transform: uppercase;
}