/**
 * bullgrid
 *
 * A grid based on the ideas of inuit.css gridsystem. 
 *
 *
 * @TODO [TimPietrusky] - center vertically / center horizontally 
 * @TODO [TimPietrusky] - Add breakpoint mixin to the project
 * @TODO [TimPietrusky] - Should we add support for IE <= 7?
 *
 *
 */
/**
 * Fluid and nestable grid system, e.g.:
 *
   <div class="gw">

     <div class="g one-third">
       <p>One third grid</p>
     </div>

     <div class="g two-thirds">
       <p>Two thirds grid</p>
     </div>

     <div class="g one-half">
       <p>One half grid</p>
     </div>

     <div class="g one-quarter">
       <p>One quarter grid</p>
     </div>

     <div class="g one-quarter">
       <p>One quarter grid</p>
     </div>

   </div>

   */
/**
 * Default spacing 
 */
/**
 * Micro clearfix. 
 */
/* line 57, ../../src/scss/modules/_bullgrid.scss */
.cf:after, .gw:after, .box:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Grid wrapper
 */
/* line 71, ../../src/scss/modules/_bullgrid.scss */
.gw {
  /**
   * Negative margin to negate the padding on the first grid child.
   */
  margin-left: -1.5em;
  /**
   * The following declarations allow us to use the `.gw` class on lists.
   */
  list-style: none;
  margin-bottom: 0;
}
@media (min-width: 50em) and (max-width: 70em) {
  /* line 71, ../../src/scss/modules/_bullgrid.scss */
  .gw {
    margin-left: -0.75em;
  }
}
/* line 90, ../../src/scss/modules/_bullgrid.scss */
.gw.gw--same-distances > .g {
  padding-top: 1.5em;
}
/* line 93, ../../src/scss/modules/_bullgrid.scss */
.gw.gw--same-distances > .g:first-child {
  padding-top: 0;
}
@media (max-width: 50em) {
  /* line 93, ../../src/scss/modules/_bullgrid.scss */
  .gw.gw--same-distances > .g:first-child {
    padding-top: 1.5em;
  }
}

/**
 * Reverse grid order
 *
   <div class="gw  gw--rev">

     <div class="g  one-third">
       <p>Appears on the right</p>
     </div>

     <div class="g  two-thirds">
       <p>Appears on the left</p>
     </div>

   </div>
 *
 */
/* line 124, ../../src/scss/modules/_bullgrid.scss */
.gw--rev > .g {
  float: right;
}

/**
 * Very infrequently occuring grid wrappers as children of grid wrappers.
 */
/* line 135, ../../src/scss/modules/_bullgrid.scss */
.gw > .gw {
  margin-left: 0;
}

/**
 * Grid
 *
 */
/* line 147, ../../src/scss/modules/_bullgrid.scss */
.g {
  float: left;
  padding-left: 1.5em;
}
@media (min-width: 50em) and (max-width: 70em) {
  /* line 147, ../../src/scss/modules/_bullgrid.scss */
  .g {
    padding-left: 0.75em;
  }
}

/**
 *
 * Sizes in human readable format.
 *
 */
/**
 *
 * @TODO [TimPietruky] - Do we really need this?
 * 
 */
/*
 * Hidden
 */
/* line 172, ../../src/scss/modules/_bullgrid.scss */
.hidden {
  display: none;
}

/**
 * Whole
 */
/* line 183, ../../src/scss/modules/_bullgrid.scss */
.one-whole {
  width: 100%;
}

/**
 * Halves
 */
/* line 194, ../../src/scss/modules/_bullgrid.scss */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%;
}

/**
 * Thirds
 */
/* line 205, ../../src/scss/modules/_bullgrid.scss */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%;
}

/* line 208, ../../src/scss/modules/_bullgrid.scss */
.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%;
}

/**
 * Quarters
 */
/* line 219, ../../src/scss/modules/_bullgrid.scss */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%;
}

/* line 225, ../../src/scss/modules/_bullgrid.scss */
.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%;
}

/**
 * Fifths
 */
/* line 236, ../../src/scss/modules/_bullgrid.scss */
.one-fifth, .two-tenths {
  width: 20%;
}

/* line 239, ../../src/scss/modules/_bullgrid.scss */
.two-fifths, .four-tenths {
  width: 40%;
}

/* line 242, ../../src/scss/modules/_bullgrid.scss */
.three-fifths, .six-tenths {
  width: 60%;
}

/* line 245, ../../src/scss/modules/_bullgrid.scss */
.four-fifths, .eight-tenths {
  width: 80%;
}

/**
 * Sixths
 */
/* line 256, ../../src/scss/modules/_bullgrid.scss */
.one-sixth, .two-twelfths {
  width: 16.666%;
}

/* line 268, ../../src/scss/modules/_bullgrid.scss */
.five-sixths, .ten-twelfths {
  width: 83.333%;
}

/**
 * Eighths
 */
/* line 279, ../../src/scss/modules/_bullgrid.scss */
.one-eighth {
  width: 12.5%;
}

/* line 285, ../../src/scss/modules/_bullgrid.scss */
.three-eighths {
  width: 37.5%;
}

/* line 291, ../../src/scss/modules/_bullgrid.scss */
.five-eighths {
  width: 62.5%;
}

/* line 297, ../../src/scss/modules/_bullgrid.scss */
.seven-eighths {
  width: 87.5%;
}

/**
 * Tenths
 */
/* line 308, ../../src/scss/modules/_bullgrid.scss */
.one-tenth {
  width: 10%;
}

/* line 314, ../../src/scss/modules/_bullgrid.scss */
.three-tenths {
  width: 30%;
}

/* line 326, ../../src/scss/modules/_bullgrid.scss */
.seven-tenths {
  width: 70%;
}

/* line 332, ../../src/scss/modules/_bullgrid.scss */
.nine-tenths {
  width: 90%;
}

/**
 * Twelfths
 */
/* line 343, ../../src/scss/modules/_bullgrid.scss */
.one-twelfth {
  width: 8.333%;
}

/* line 355, ../../src/scss/modules/_bullgrid.scss */
.five-twelfths {
  width: 41.666%;
}

/* line 361, ../../src/scss/modules/_bullgrid.scss */
.seven-twelfths {
  width: 58.333%;
}

/* line 373, ../../src/scss/modules/_bullgrid.scss */
.eleven-twelfths {
  width: 91.666%;
}

/**
 * Create the grids for different devices.
 */
@media (min-width: 70em) {
  /*
   * Hidden
   */
  /* line 172, ../../src/scss/modules/_bullgrid.scss */
  .large-hidden {
    display: none;
  }

  /**
   * Whole
   */
  /* line 183, ../../src/scss/modules/_bullgrid.scss */
  .large-one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  /* line 194, ../../src/scss/modules/_bullgrid.scss */
  .large-one-half, .large-two-quarters, .large-three-sixths, .large-four-eighths, .large-five-tenths, .large-six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  /* line 205, ../../src/scss/modules/_bullgrid.scss */
  .large-one-third, .large-two-sixths, .large-four-twelfths {
    width: 33.333%;
  }

  /* line 208, ../../src/scss/modules/_bullgrid.scss */
  .large-two-thirds, .large-four-sixths, .large-eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  /* line 219, ../../src/scss/modules/_bullgrid.scss */
  .large-one-quarter, .large-two-eighths, .large-three-twelfths {
    width: 25%;
  }

  /* line 225, ../../src/scss/modules/_bullgrid.scss */
  .large-three-quarters, .large-six-eighths, .large-nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  /* line 236, ../../src/scss/modules/_bullgrid.scss */
  .large-one-fifth, .large-two-tenths {
    width: 20%;
  }

  /* line 239, ../../src/scss/modules/_bullgrid.scss */
  .large-two-fifths, .large-four-tenths {
    width: 40%;
  }

  /* line 242, ../../src/scss/modules/_bullgrid.scss */
  .large-three-fifths, .large-six-tenths {
    width: 60%;
  }

  /* line 245, ../../src/scss/modules/_bullgrid.scss */
  .large-four-fifths, .large-eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  /* line 256, ../../src/scss/modules/_bullgrid.scss */
  .large-one-sixth, .large-two-twelfths {
    width: 16.666%;
  }

  /* line 268, ../../src/scss/modules/_bullgrid.scss */
  .large-five-sixths, .large-ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  /* line 279, ../../src/scss/modules/_bullgrid.scss */
  .large-one-eighth {
    width: 12.5%;
  }

  /* line 285, ../../src/scss/modules/_bullgrid.scss */
  .large-three-eighths {
    width: 37.5%;
  }

  /* line 291, ../../src/scss/modules/_bullgrid.scss */
  .large-five-eighths {
    width: 62.5%;
  }

  /* line 297, ../../src/scss/modules/_bullgrid.scss */
  .large-seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  /* line 308, ../../src/scss/modules/_bullgrid.scss */
  .large-one-tenth {
    width: 10%;
  }

  /* line 314, ../../src/scss/modules/_bullgrid.scss */
  .large-three-tenths {
    width: 30%;
  }

  /* line 326, ../../src/scss/modules/_bullgrid.scss */
  .large-seven-tenths {
    width: 70%;
  }

  /* line 332, ../../src/scss/modules/_bullgrid.scss */
  .large-nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  /* line 343, ../../src/scss/modules/_bullgrid.scss */
  .large-one-twelfth {
    width: 8.333%;
  }

  /* line 355, ../../src/scss/modules/_bullgrid.scss */
  .large-five-twelfths {
    width: 41.666%;
  }

  /* line 361, ../../src/scss/modules/_bullgrid.scss */
  .large-seven-twelfths {
    width: 58.333%;
  }

  /* line 373, ../../src/scss/modules/_bullgrid.scss */
  .large-eleven-twelfths {
    width: 91.666%;
  }
}
@media (min-width: 50em) and (max-width: 70em) {
  /*
   * Hidden
   */
  /* line 172, ../../src/scss/modules/_bullgrid.scss */
  .medium-hidden {
    display: none;
  }

  /**
   * Whole
   */
  /* line 183, ../../src/scss/modules/_bullgrid.scss */
  .medium-one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  /* line 194, ../../src/scss/modules/_bullgrid.scss */
  .medium-one-half, .medium-two-quarters, .medium-three-sixths, .medium-four-eighths, .medium-five-tenths, .medium-six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  /* line 205, ../../src/scss/modules/_bullgrid.scss */
  .medium-one-third, .medium-two-sixths, .medium-four-twelfths {
    width: 33.333%;
  }

  /* line 208, ../../src/scss/modules/_bullgrid.scss */
  .medium-two-thirds, .medium-four-sixths, .medium-eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  /* line 219, ../../src/scss/modules/_bullgrid.scss */
  .medium-one-quarter, .medium-two-eighths, .medium-three-twelfths {
    width: 25%;
  }

  /* line 225, ../../src/scss/modules/_bullgrid.scss */
  .medium-three-quarters, .medium-six-eighths, .medium-nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  /* line 236, ../../src/scss/modules/_bullgrid.scss */
  .medium-one-fifth, .medium-two-tenths {
    width: 20%;
  }

  /* line 239, ../../src/scss/modules/_bullgrid.scss */
  .medium-two-fifths, .medium-four-tenths {
    width: 40%;
  }

  /* line 242, ../../src/scss/modules/_bullgrid.scss */
  .medium-three-fifths, .medium-six-tenths {
    width: 60%;
  }

  /* line 245, ../../src/scss/modules/_bullgrid.scss */
  .medium-four-fifths, .medium-eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  /* line 256, ../../src/scss/modules/_bullgrid.scss */
  .medium-one-sixth, .medium-two-twelfths {
    width: 16.666%;
  }

  /* line 268, ../../src/scss/modules/_bullgrid.scss */
  .medium-five-sixths, .medium-ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  /* line 279, ../../src/scss/modules/_bullgrid.scss */
  .medium-one-eighth {
    width: 12.5%;
  }

  /* line 285, ../../src/scss/modules/_bullgrid.scss */
  .medium-three-eighths {
    width: 37.5%;
  }

  /* line 291, ../../src/scss/modules/_bullgrid.scss */
  .medium-five-eighths {
    width: 62.5%;
  }

  /* line 297, ../../src/scss/modules/_bullgrid.scss */
  .medium-seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  /* line 308, ../../src/scss/modules/_bullgrid.scss */
  .medium-one-tenth {
    width: 10%;
  }

  /* line 314, ../../src/scss/modules/_bullgrid.scss */
  .medium-three-tenths {
    width: 30%;
  }

  /* line 326, ../../src/scss/modules/_bullgrid.scss */
  .medium-seven-tenths {
    width: 70%;
  }

  /* line 332, ../../src/scss/modules/_bullgrid.scss */
  .medium-nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  /* line 343, ../../src/scss/modules/_bullgrid.scss */
  .medium-one-twelfth {
    width: 8.333%;
  }

  /* line 355, ../../src/scss/modules/_bullgrid.scss */
  .medium-five-twelfths {
    width: 41.666%;
  }

  /* line 361, ../../src/scss/modules/_bullgrid.scss */
  .medium-seven-twelfths {
    width: 58.333%;
  }

  /* line 373, ../../src/scss/modules/_bullgrid.scss */
  .medium-eleven-twelfths {
    width: 91.666%;
  }
}
@media (max-width: 50em) {
  /*
   * Hidden
   */
  /* line 172, ../../src/scss/modules/_bullgrid.scss */
  .small-hidden {
    display: none;
  }

  /**
   * Whole
   */
  /* line 183, ../../src/scss/modules/_bullgrid.scss */
  .small-one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  /* line 194, ../../src/scss/modules/_bullgrid.scss */
  .small-one-half, .small-two-quarters, .small-three-sixths, .small-four-eighths, .small-five-tenths, .small-six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  /* line 205, ../../src/scss/modules/_bullgrid.scss */
  .small-one-third, .small-two-sixths, .small-four-twelfths {
    width: 33.333%;
  }

  /* line 208, ../../src/scss/modules/_bullgrid.scss */
  .small-two-thirds, .small-four-sixths, .small-eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  /* line 219, ../../src/scss/modules/_bullgrid.scss */
  .small-one-quarter, .small-two-eighths, .small-three-twelfths {
    width: 25%;
  }

  /* line 225, ../../src/scss/modules/_bullgrid.scss */
  .small-three-quarters, .small-six-eighths, .small-nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  /* line 236, ../../src/scss/modules/_bullgrid.scss */
  .small-one-fifth, .small-two-tenths {
    width: 20%;
  }

  /* line 239, ../../src/scss/modules/_bullgrid.scss */
  .small-two-fifths, .small-four-tenths {
    width: 40%;
  }

  /* line 242, ../../src/scss/modules/_bullgrid.scss */
  .small-three-fifths, .small-six-tenths {
    width: 60%;
  }

  /* line 245, ../../src/scss/modules/_bullgrid.scss */
  .small-four-fifths, .small-eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  /* line 256, ../../src/scss/modules/_bullgrid.scss */
  .small-one-sixth, .small-two-twelfths {
    width: 16.666%;
  }

  /* line 268, ../../src/scss/modules/_bullgrid.scss */
  .small-five-sixths, .small-ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  /* line 279, ../../src/scss/modules/_bullgrid.scss */
  .small-one-eighth {
    width: 12.5%;
  }

  /* line 285, ../../src/scss/modules/_bullgrid.scss */
  .small-three-eighths {
    width: 37.5%;
  }

  /* line 291, ../../src/scss/modules/_bullgrid.scss */
  .small-five-eighths {
    width: 62.5%;
  }

  /* line 297, ../../src/scss/modules/_bullgrid.scss */
  .small-seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  /* line 308, ../../src/scss/modules/_bullgrid.scss */
  .small-one-tenth {
    width: 10%;
  }

  /* line 314, ../../src/scss/modules/_bullgrid.scss */
  .small-three-tenths {
    width: 30%;
  }

  /* line 326, ../../src/scss/modules/_bullgrid.scss */
  .small-seven-tenths {
    width: 70%;
  }

  /* line 332, ../../src/scss/modules/_bullgrid.scss */
  .small-nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  /* line 343, ../../src/scss/modules/_bullgrid.scss */
  .small-one-twelfth {
    width: 8.333%;
  }

  /* line 355, ../../src/scss/modules/_bullgrid.scss */
  .small-five-twelfths {
    width: 41.666%;
  }

  /* line 361, ../../src/scss/modules/_bullgrid.scss */
  .small-seven-twelfths {
    width: 58.333%;
  }

  /* line 373, ../../src/scss/modules/_bullgrid.scss */
  .small-eleven-twelfths {
    width: 91.666%;
  }
}
@media (min-width: 90em) {
  /*
   * Hidden
   */
  /* line 172, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-hidden {
    display: none;
  }

  /**
   * Whole
   */
  /* line 183, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  /* line 194, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-one-half, .ultralarge-two-quarters, .ultralarge-three-sixths, .ultralarge-four-eighths, .ultralarge-five-tenths, .ultralarge-six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  /* line 205, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-one-third, .ultralarge-two-sixths, .ultralarge-four-twelfths {
    width: 33.333%;
  }

  /* line 208, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-two-thirds, .ultralarge-four-sixths, .ultralarge-eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  /* line 219, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-one-quarter, .ultralarge-two-eighths, .ultralarge-three-twelfths {
    width: 25%;
  }

  /* line 225, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-three-quarters, .ultralarge-six-eighths, .ultralarge-nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  /* line 236, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-one-fifth, .ultralarge-two-tenths {
    width: 20%;
  }

  /* line 239, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-two-fifths, .ultralarge-four-tenths {
    width: 40%;
  }

  /* line 242, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-three-fifths, .ultralarge-six-tenths {
    width: 60%;
  }

  /* line 245, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-four-fifths, .ultralarge-eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  /* line 256, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-one-sixth, .ultralarge-two-twelfths {
    width: 16.666%;
  }

  /* line 268, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-five-sixths, .ultralarge-ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  /* line 279, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-one-eighth {
    width: 12.5%;
  }

  /* line 285, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-three-eighths {
    width: 37.5%;
  }

  /* line 291, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-five-eighths {
    width: 62.5%;
  }

  /* line 297, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  /* line 308, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-one-tenth {
    width: 10%;
  }

  /* line 314, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-three-tenths {
    width: 30%;
  }

  /* line 326, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-seven-tenths {
    width: 70%;
  }

  /* line 332, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  /* line 343, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-one-twelfth {
    width: 8.333%;
  }

  /* line 355, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-five-twelfths {
    width: 41.666%;
  }

  /* line 361, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-seven-twelfths {
    width: 58.333%;
  }

  /* line 373, ../../src/scss/modules/_bullgrid.scss */
  .ultralarge-eleven-twelfths {
    width: 91.666%;
  }
}
@font-face {
  font-family: 'thunder-commander';
  src: url("../fonts/thunder-commander.eot");
  src: url("../fonts/thunder-commander.eot?#iefix") format("embedded-opentype"), url("../fonts/thunder-commander.ttf") format("truetype"), url("../fonts/thunder-commander.woff") format("woff"), url("../fonts/thunder-commander.svg#thunder-commander") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../../src/scss/modules/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'thunder-commander';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* line 22, ../../src/scss/modules/_fonts.scss */
.icon-left:before {
  content: "\e601";
}

/* line 25, ../../src/scss/modules/_fonts.scss */
.icon-right:before {
  content: "\e602";
}

/* line 28, ../../src/scss/modules/_fonts.scss */
.icon-up:before {
  content: "\e603";
}

/* line 31, ../../src/scss/modules/_fonts.scss */
.icon-down:before {
  content: "\e604";
}

/* line 34, ../../src/scss/modules/_fonts.scss */
.icon-residentevil:before {
  content: "\e605";
}

/* line 37, ../../src/scss/modules/_fonts.scss */
.icon-crosshair:before {
  content: "\e607";
}

/* line 40, ../../src/scss/modules/_fonts.scss */
.icon-rocket:before {
  content: "\e608";
}

/* line 43, ../../src/scss/modules/_fonts.scss */
.icon-refresh:before {
  content: "\e609";
}

/* line 46, ../../src/scss/modules/_fonts.scss */
.icon-crosshair2:before {
  content: "\e606";
}

/* line 49, ../../src/scss/modules/_fonts.scss */
.icon-crosshair3:before {
  content: "\e60a";
}

/* line 1, ../../src/scss/modules/_typography.scss */
h1 {
  font-weight: 700;
  font-size: 4em;
  margin: 0;
  text-transform: uppercase;
  color: #cdd7f0;
}
/* line 8, ../../src/scss/modules/_typography.scss */
h1 > span {
  color: #94133a;
}
@media (max-width: 50em) {
  /* line 1, ../../src/scss/modules/_typography.scss */
  h1 {
    font-size: 2.75em;
  }
}

/* line 17, ../../src/scss/modules/_typography.scss */
h2 {
  margin: 0;
  text-transform: uppercase;
}

/**
 *
 * Animation 
 *
 */
/**
 *
 * Keyframes
 *
 */
/* line 1, ../../src/scss/core/_app.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../src/scss/core/_app.scss */
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* line 15, ../../src/scss/core/_app.scss */
body {
  font: 400 1em/1.6 "Advent Pro", sans-serif;
  color: #cdd7f0;
  overflow-x: hidden;
  margin: 0;
  background: #010101;
}
/* line 28, ../../src/scss/core/_app.scss */
body h1,
body .button,
body .box[data-name="missiles"],
body .box[data-name="radar"] {
  opacity: .25;
}
/* line 41, ../../src/scss/core/_app.scss */
body.not-connected h1,
body.not-connected .button,
body.not-connected .box[data-name="missiles"],
body.not-connected .box[data-name="radar"] {
  -webkit-animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards;
  -moz-animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards;
  -o-animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards;
  animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards;
}
/* line 45, ../../src/scss/core/_app.scss */
body.not-connected .button {
  -webkit-animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards 0.325s;
  -moz-animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards 0.325s;
  -o-animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards 0.325s;
  animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards 0.325s;
}
/* line 49, ../../src/scss/core/_app.scss */
body.not-connected .box[data-name="missiles"] {
  -webkit-animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards 0.475s;
  -moz-animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards 0.475s;
  -o-animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards 0.475s;
  animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards 0.475s;
}
/* line 53, ../../src/scss/core/_app.scss */
body.not-connected .box[data-name="radar"] {
  -webkit-animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards 0.15s;
  -moz-animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards 0.15s;
  -o-animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards 0.15s;
  animation: ThunderCommander_deactivate 1.35s 1 ease-in-out forwards 0.15s;
}
/* line 63, ../../src/scss/core/_app.scss */
body.connected {
  -webkit-animation: ThunderCommander_background_alarm 7.5s infinite ease-in-out;
  -moz-animation: ThunderCommander_background_alarm 7.5s infinite ease-in-out;
  -o-animation: ThunderCommander_background_alarm 7.5s infinite ease-in-out;
  animation: ThunderCommander_background_alarm 7.5s infinite ease-in-out;
}
/* line 72, ../../src/scss/core/_app.scss */
body.connected h1,
body.connected .button,
body.connected .box[data-name="missiles"],
body.connected .box[data-name="radar"] {
  -webkit-animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards -0.35s;
  -moz-animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards -0.35s;
  -o-animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards -0.35s;
  animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards -0.35s;
}
/* line 76, ../../src/scss/core/_app.scss */
body.connected .button {
  -webkit-animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards 0.325s;
  -moz-animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards 0.325s;
  -o-animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards 0.325s;
  animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards 0.325s;
}
/* line 80, ../../src/scss/core/_app.scss */
body.connected .box[data-name="missiles"] {
  -webkit-animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards 0.475s;
  -moz-animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards 0.475s;
  -o-animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards 0.475s;
  animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards 0.475s;
}
/* line 84, ../../src/scss/core/_app.scss */
body.connected .box[data-name="radar"] {
  -webkit-animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards 0.15s;
  -moz-animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards 0.15s;
  -o-animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards 0.15s;
  animation: ThunderCommander_activate 0.65s 1 ease-in-out forwards 0.15s;
}

@-webkit-keyframes ThunderCommander_background_alarm {
  /* line 97, ../../src/scss/core/_app.scss */
  0%, 25%, 100% {
    background: #010101;
  }

  /* line 101, ../../src/scss/core/_app.scss */
  25% {
    background: #500a1f;
  }

  /* line 105, ../../src/scss/core/_app.scss */
  50%, 75% {
    background: #010101;
  }

  /* line 109, ../../src/scss/core/_app.scss */
  75% {
    background: #023835;
  }
}

@-moz-keyframes ThunderCommander_background_alarm {
  /* line 97, ../../src/scss/core/_app.scss */
  0%, 25%, 100% {
    background: #010101;
  }

  /* line 101, ../../src/scss/core/_app.scss */
  25% {
    background: #500a1f;
  }

  /* line 105, ../../src/scss/core/_app.scss */
  50%, 75% {
    background: #010101;
  }

  /* line 109, ../../src/scss/core/_app.scss */
  75% {
    background: #023835;
  }
}

@-o-keyframes ThunderCommander_background_alarm {
  /* line 97, ../../src/scss/core/_app.scss */
  0%, 25%, 100% {
    background: #010101;
  }

  /* line 101, ../../src/scss/core/_app.scss */
  25% {
    background: #500a1f;
  }

  /* line 105, ../../src/scss/core/_app.scss */
  50%, 75% {
    background: #010101;
  }

  /* line 109, ../../src/scss/core/_app.scss */
  75% {
    background: #023835;
  }
}

@keyframes ThunderCommander_background_alarm {
  /* line 97, ../../src/scss/core/_app.scss */
  0%, 25%, 100% {
    background: #010101;
  }

  /* line 101, ../../src/scss/core/_app.scss */
  25% {
    background: #500a1f;
  }

  /* line 105, ../../src/scss/core/_app.scss */
  50%, 75% {
    background: #010101;
  }

  /* line 109, ../../src/scss/core/_app.scss */
  75% {
    background: #023835;
  }
}

@-webkit-keyframes ThunderCommander_activate {
  /* line 116, ../../src/scss/core/_app.scss */
  0%, 25% {
    opacity: .25;
  }

  /* line 120, ../../src/scss/core/_app.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes ThunderCommander_activate {
  /* line 116, ../../src/scss/core/_app.scss */
  0%, 25% {
    opacity: .25;
  }

  /* line 120, ../../src/scss/core/_app.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes ThunderCommander_activate {
  /* line 116, ../../src/scss/core/_app.scss */
  0%, 25% {
    opacity: .25;
  }

  /* line 120, ../../src/scss/core/_app.scss */
  100% {
    opacity: 1;
  }
}

@keyframes ThunderCommander_activate {
  /* line 116, ../../src/scss/core/_app.scss */
  0%, 25% {
    opacity: .25;
  }

  /* line 120, ../../src/scss/core/_app.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ThunderCommander_deactivate {
  /* line 129, ../../src/scss/core/_app.scss */
  0% {
    opacity: 1;
  }

  /* line 133, ../../src/scss/core/_app.scss */
  100% {
    opacity: .25;
  }
}

@-moz-keyframes ThunderCommander_deactivate {
  /* line 129, ../../src/scss/core/_app.scss */
  0% {
    opacity: 1;
  }

  /* line 133, ../../src/scss/core/_app.scss */
  100% {
    opacity: .25;
  }
}

@-o-keyframes ThunderCommander_deactivate {
  /* line 129, ../../src/scss/core/_app.scss */
  0% {
    opacity: 1;
  }

  /* line 133, ../../src/scss/core/_app.scss */
  100% {
    opacity: .25;
  }
}

@keyframes ThunderCommander_deactivate {
  /* line 129, ../../src/scss/core/_app.scss */
  0% {
    opacity: 1;
  }

  /* line 133, ../../src/scss/core/_app.scss */
  100% {
    opacity: .25;
  }
}

/*
  0%, 25% {
    opacity: .5;
  }

  25% {
    opacity: .75;
  }

  50%, 75% {
    opacity: .45;
  }

  75% {
    opacity: .55;
  }

  100% {
    opacity: 1;
  }
  */
/* line 166, ../../src/scss/core/_app.scss */
.command-center {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 50em) {
  /* line 166, ../../src/scss/core/_app.scss */
  .command-center {
    padding: 0 1.5em;
  }
}

/* line 1, ../../src/scss/components/_command-center.scss */
.command-center {
  background: rgba(1, 1, 1, 0.25);
  border-radius: .75em 0 0 0;
  box-shadow: 0 0 0 1.5em rgba(1, 1, 1, 0.25);
  border: 0.25em solid #94133a;
  padding: 1.5em;
  background: #010101;
  background-size: 100% .2em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(5, 130, 122, 0.075)), color-stop(50%, transparent));
  background-image: -webkit-linear-gradient(top, rgba(5, 130, 122, 0.075) 50%, transparent 50%);
  background-image: -moz-linear-gradient(top, rgba(5, 130, 122, 0.075) 50%, transparent 50%);
  background-image: -o-linear-gradient(top, rgba(5, 130, 122, 0.075) 50%, transparent 50%);
  background-image: linear-gradient(top, rgba(5, 130, 122, 0.075) 50%, transparent 50%);
  -webkit-animation: scanlines 50s linear forwards infinite;
  -moz-animation: scanlines 50s linear forwards infinite;
  -o-animation: scanlines 50s linear forwards infinite;
  animation: scanlines 50s linear forwards infinite;
}
@media (max-width: 50em) {
  /* line 1, ../../src/scss/components/_command-center.scss */
  .command-center {
    font-size: .825em;
  }
}

@-webkit-keyframes scanlines {
  /* line 27, ../../src/scss/components/_command-center.scss */
  0% {
    background-position: 0 0;
  }

  /* line 31, ../../src/scss/components/_command-center.scss */
  100% {
    background-position: 0 100%;
  }
}

@-moz-keyframes scanlines {
  /* line 27, ../../src/scss/components/_command-center.scss */
  0% {
    background-position: 0 0;
  }

  /* line 31, ../../src/scss/components/_command-center.scss */
  100% {
    background-position: 0 100%;
  }
}

@-o-keyframes scanlines {
  /* line 27, ../../src/scss/components/_command-center.scss */
  0% {
    background-position: 0 0;
  }

  /* line 31, ../../src/scss/components/_command-center.scss */
  100% {
    background-position: 0 100%;
  }
}

@keyframes scanlines {
  /* line 27, ../../src/scss/components/_command-center.scss */
  0% {
    background-position: 0 0;
  }

  /* line 31, ../../src/scss/components/_command-center.scss */
  100% {
    background-position: 0 100%;
  }
}

/* line 1, ../../src/scss/components/_buttons.scss */
.button {
  font: inherit;
  font-size: 2em;
  padding: 1em;
  cursor: pointer;
  width: 100%;
  margin: 0;
  border: none;
  color: #94133a;
  background: transparent;
  box-shadow: 0 0 0.35em rgba(5, 130, 122, 0.75), inset 0 0 0 0.1em rgba(5, 130, 122, 0.5), inset 0 0 0 0.2em #010101, inset 0 0 0 0.3em #05827a;
  border-radius: .75em 0 0 0;
  outline: none;
  -webkit-transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
}
/* line 28, ../../src/scss/components/_buttons.scss */
.button:hover, .button.active {
  background: #94133a;
  color: #05827a;
}
/* line 34, ../../src/scss/components/_buttons.scss */
.button.button__fire {
  min-height: 12.3em;
}
@media (max-width: 50em) {
  /* line 34, ../../src/scss/components/_buttons.scss */
  .button.button__fire {
    min-height: 4.5em;
  }
}
/* line 41, ../../src/scss/components/_buttons.scss */
.button.button__fire > span {
  font-size: 4em;
}
/* line 46, ../../src/scss/components/_buttons.scss */
.button.button__refresh {
  font-size: 1em;
  box-shadow: none;
  text-align: center;
  border-radius: 0;
  padding: 1em 0;
}
/* line 53, ../../src/scss/components/_buttons.scss */
.button.button__refresh:hover {
  background: none;
}

/* line 1, ../../src/scss/components/_top-header.scss */
.top-header {
  text-align: center;
  margin: 1.5em;
  color: #94133a;
}

/* line 1, ../../src/scss/components/_missiles.scss */
.missiles {
  overflow: hidden;
}
/* line 4, ../../src/scss/components/_missiles.scss */
.missiles > li {
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}
/* line 9, ../../src/scss/components/_missiles.scss */
.missiles > li span {
  -webkit-transform: rotate(25deg) translateX(0.075em);
  -moz-transform: rotate(25deg) translateX(0.075em);
  -ms-transform: rotate(25deg) translateX(0.075em);
  -o-transform: rotate(25deg) translateX(0.075em);
  transform: rotate(25deg) translateX(0.075em);
  -webkit-transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out;
}
/* line 16, ../../src/scss/components/_missiles.scss */
.missiles > li span.full {
  opacity: 1;
  color: #cdd7f0;
}
/* line 21, ../../src/scss/components/_missiles.scss */
.missiles > li span.empty {
  opacity: .25;
  color: #cdd7f0;
  -webkit-animation: missile-empty 1s 1 linear forwards 0.65s;
  -moz-animation: missile-empty 1s 1 linear forwards 0.65s;
  -o-animation: missile-empty 1s 1 linear forwards 0.65s;
  animation: missile-empty 1s 1 linear forwards 0.65s;
}
/* line 31, ../../src/scss/components/_missiles.scss */
.missiles.not-connected > li {
  opacity: 0;
}
/* line 37, ../../src/scss/components/_missiles.scss */
.missiles.connected > li {
  opacity: 1;
}

@-webkit-keyframes missile-empty {
  /* line 45, ../../src/scss/components/_missiles.scss */
  0% {
    color: #cdd7f0;
  }

  /* line 49, ../../src/scss/components/_missiles.scss */
  50% {
    opacity: 0;
    color: #cdd7f0;
    -webkit-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    -moz-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    -ms-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    -o-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    transform: rotate(25deg) translateX(0.075em) translateY(-200%);
  }

  /* line 55, ../../src/scss/components/_missiles.scss */
  75% {
    opacity: 0;
    color: #94133a;
    -webkit-transform: rotate(25deg) translateX(0.075em) translateY(0);
    -moz-transform: rotate(25deg) translateX(0.075em) translateY(0);
    -ms-transform: rotate(25deg) translateX(0.075em) translateY(0);
    -o-transform: rotate(25deg) translateX(0.075em) translateY(0);
    transform: rotate(25deg) translateX(0.075em) translateY(0);
  }

  /* line 61, ../../src/scss/components/_missiles.scss */
  100% {
    opacity: .25;
    color: #94133a;
  }
}

@-moz-keyframes missile-empty {
  /* line 45, ../../src/scss/components/_missiles.scss */
  0% {
    color: #cdd7f0;
  }

  /* line 49, ../../src/scss/components/_missiles.scss */
  50% {
    opacity: 0;
    color: #cdd7f0;
    -webkit-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    -moz-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    -ms-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    -o-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    transform: rotate(25deg) translateX(0.075em) translateY(-200%);
  }

  /* line 55, ../../src/scss/components/_missiles.scss */
  75% {
    opacity: 0;
    color: #94133a;
    -webkit-transform: rotate(25deg) translateX(0.075em) translateY(0);
    -moz-transform: rotate(25deg) translateX(0.075em) translateY(0);
    -ms-transform: rotate(25deg) translateX(0.075em) translateY(0);
    -o-transform: rotate(25deg) translateX(0.075em) translateY(0);
    transform: rotate(25deg) translateX(0.075em) translateY(0);
  }

  /* line 61, ../../src/scss/components/_missiles.scss */
  100% {
    opacity: .25;
    color: #94133a;
  }
}

@-o-keyframes missile-empty {
  /* line 45, ../../src/scss/components/_missiles.scss */
  0% {
    color: #cdd7f0;
  }

  /* line 49, ../../src/scss/components/_missiles.scss */
  50% {
    opacity: 0;
    color: #cdd7f0;
    -webkit-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    -moz-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    -ms-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    -o-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    transform: rotate(25deg) translateX(0.075em) translateY(-200%);
  }

  /* line 55, ../../src/scss/components/_missiles.scss */
  75% {
    opacity: 0;
    color: #94133a;
    -webkit-transform: rotate(25deg) translateX(0.075em) translateY(0);
    -moz-transform: rotate(25deg) translateX(0.075em) translateY(0);
    -ms-transform: rotate(25deg) translateX(0.075em) translateY(0);
    -o-transform: rotate(25deg) translateX(0.075em) translateY(0);
    transform: rotate(25deg) translateX(0.075em) translateY(0);
  }

  /* line 61, ../../src/scss/components/_missiles.scss */
  100% {
    opacity: .25;
    color: #94133a;
  }
}

@keyframes missile-empty {
  /* line 45, ../../src/scss/components/_missiles.scss */
  0% {
    color: #cdd7f0;
  }

  /* line 49, ../../src/scss/components/_missiles.scss */
  50% {
    opacity: 0;
    color: #cdd7f0;
    -webkit-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    -moz-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    -ms-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    -o-transform: rotate(25deg) translateX(0.075em) translateY(-200%);
    transform: rotate(25deg) translateX(0.075em) translateY(-200%);
  }

  /* line 55, ../../src/scss/components/_missiles.scss */
  75% {
    opacity: 0;
    color: #94133a;
    -webkit-transform: rotate(25deg) translateX(0.075em) translateY(0);
    -moz-transform: rotate(25deg) translateX(0.075em) translateY(0);
    -ms-transform: rotate(25deg) translateX(0.075em) translateY(0);
    -o-transform: rotate(25deg) translateX(0.075em) translateY(0);
    transform: rotate(25deg) translateX(0.075em) translateY(0);
  }

  /* line 61, ../../src/scss/components/_missiles.scss */
  100% {
    opacity: .25;
    color: #94133a;
  }
}

/* line 1, ../../src/scss/components/_box.scss */
.box {
  border: none;
  color: #94133a;
  background: transparent;
  box-shadow: 0 0 0.7em rgba(5, 130, 122, 0.75), inset 0 0 0 0.2em rgba(5, 130, 122, 0.5), inset 0 0 0 0.4em #010101, inset 0 0 0 0.6em #05827a;
  border-radius: 1.5em 0 0 0;
  padding: 1.435em .6em;
}
/* line 16, ../../src/scss/components/_box.scss */
.box > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 21, ../../src/scss/components/_box.scss */
.box > ul > li {
  height: 100%;
  padding: 1em 0;
  text-align: center;
}
/* line 26, ../../src/scss/components/_box.scss */
.box > ul > li:nth-child(n):not(:last-child) {
  border-right: 0.15em solid rgba(5, 130, 122, 0.5);
}
/* line 30, ../../src/scss/components/_box.scss */
.box > ul > li:last-child:not(:first-child) {
  border: none;
  padding: 0;
}
/* line 34, ../../src/scss/components/_box.scss */
.box > ul > li:last-child:not(:first-child) span {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 40, ../../src/scss/components/_box.scss */
.box > ul > li span {
  font-size: 2em;
  display: inline-block;
}

/* line 1, ../../src/scss/components/_connection-status.scss */
.connection-status {
  padding-left: 0.75em !important;
}
/* line 5, ../../src/scss/components/_connection-status.scss */
.connection-status .connected, .connection-status .not-connected {
  border-right: none !important;
  border-radius: 0.75em 0 0 0;
  -webkit-transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
  -moz-transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
}
/* line 14, ../../src/scss/components/_connection-status.scss */
.connection-status .connected {
  color: #05827a;
  box-shadow: inset 0 0 0 0.15em rgba(5, 130, 122, 0.5);
}
/* line 23, ../../src/scss/components/_connection-status.scss */
.connection-status .not-connected {
  -webkit-animation: ThunderCommander_connection-status_not-connected 0.05s infinite ease-in-out;
  -moz-animation: ThunderCommander_connection-status_not-connected 0.05s infinite ease-in-out;
  -o-animation: ThunderCommander_connection-status_not-connected 0.05s infinite ease-in-out;
  animation: ThunderCommander_connection-status_not-connected 0.05s infinite ease-in-out;
  color: #94133a;
  box-shadow: inset 0 0 0 0.15em rgba(148, 19, 58, 0.5);
}

@-webkit-keyframes ThunderCommander_connection-status_not-connected {
  /* line 35, ../../src/scss/components/_connection-status.scss */
  0%, 25%, 100% {
    background: #010101;
    color: inherit;
  }

  /* line 40, ../../src/scss/components/_connection-status.scss */
  25%, 75% {
    background: #94133a;
    color: #010101;
  }
}

@-moz-keyframes ThunderCommander_connection-status_not-connected {
  /* line 35, ../../src/scss/components/_connection-status.scss */
  0%, 25%, 100% {
    background: #010101;
    color: inherit;
  }

  /* line 40, ../../src/scss/components/_connection-status.scss */
  25%, 75% {
    background: #94133a;
    color: #010101;
  }
}

@-o-keyframes ThunderCommander_connection-status_not-connected {
  /* line 35, ../../src/scss/components/_connection-status.scss */
  0%, 25%, 100% {
    background: #010101;
    color: inherit;
  }

  /* line 40, ../../src/scss/components/_connection-status.scss */
  25%, 75% {
    background: #94133a;
    color: #010101;
  }
}

@keyframes ThunderCommander_connection-status_not-connected {
  /* line 35, ../../src/scss/components/_connection-status.scss */
  0%, 25%, 100% {
    background: #010101;
    color: inherit;
  }

  /* line 40, ../../src/scss/components/_connection-status.scss */
  25%, 75% {
    background: #94133a;
    color: #010101;
  }
}

/* line 1, ../../src/scss/components/_radar.scss */
.radar {
  position: relative;
  overflow: hidden;
}
/* line 5, ../../src/scss/components/_radar.scss */
.radar h2 {
  color: rgba(205, 215, 240, 0.5);
}
/* line 9, ../../src/scss/components/_radar.scss */
.radar .radar__needle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 1em;
  height: 100%;
}
/* line 17, ../../src/scss/components/_radar.scss */
.radar .radar__needle.connected {
  background: rgba(148, 19, 58, 0.5);
  box-shadow: 0.3em 0 0 0.15em rgba(148, 19, 58, 0.15), 0.6em 0 0 0.15em rgba(148, 19, 58, 0.15), -0.3em 0 0 0.15em rgba(148, 19, 58, 0.15), -0.6em 0 0 0.15em rgba(148, 19, 58, 0.15);
  -webkit-animation: radar-needle 3.5s ease-in-out forwards infinite;
  -moz-animation: radar-needle 3.5s ease-in-out forwards infinite;
  -o-animation: radar-needle 3.5s ease-in-out forwards infinite;
  animation: radar-needle 3.5s ease-in-out forwards infinite;
}

@-webkit-keyframes radar-needle {
  /* line 32, ../../src/scss/components/_radar.scss */
  0%, 100% {
    left: -15%;
  }

  /* line 36, ../../src/scss/components/_radar.scss */
  50% {
    left: 110%;
  }
}

@-moz-keyframes radar-needle {
  /* line 32, ../../src/scss/components/_radar.scss */
  0%, 100% {
    left: -15%;
  }

  /* line 36, ../../src/scss/components/_radar.scss */
  50% {
    left: 110%;
  }
}

@-o-keyframes radar-needle {
  /* line 32, ../../src/scss/components/_radar.scss */
  0%, 100% {
    left: -15%;
  }

  /* line 36, ../../src/scss/components/_radar.scss */
  50% {
    left: 110%;
  }
}

@keyframes radar-needle {
  /* line 32, ../../src/scss/components/_radar.scss */
  0%, 100% {
    left: -15%;
  }

  /* line 36, ../../src/scss/components/_radar.scss */
  50% {
    left: 110%;
  }
}
