// Font
$default-font: 'Advent Pro', sans-serif;

// Padding
$default-padding: 1em;

// Margin
$default-margin: 1rem;

// Spacing (e.g. grid)
$default-spacing: 1.5em;

// Color
$default-color: $color-white;

// Transition
$default-transition-duration: .15s;
$default-transition-function: ease-in-out;
$default-transition: $default-transition-duration $default-transition-function;





// Animaton - Properties
$default-animation-duration: 0s;
$default-animation-timing-function: linear;
$default-animation-delay: 0s;
$default-animation-iteration-count: infinite;
$default-animation-direction: normal;
$default-animation-fill-mode: none;

// Animation - Shorthand
$default-animation: $default-animation-duration $default-animation-timing-function $default-animation-delay $default-animation-iteration-count $default-animation-direction $default-animation-fill-mode;