// Font
$default-font: 'Advent Pro', sans-serif;

// Padding
$default-padding: 1em;

// Margin
$default-margin: 1rem;

// Spacing (e.g. grid)
$default-spacing: 1.5em;

// Color
$default-color: $color-white;

// Transition
$default-transition-duration: .15s;
$default-transition-function: ease-in-out;
$default-transition: $default-transition-duration $default-transition-function;