$color-green: #05827a;
$color-red: #94133a;
$color-white: #cdd7f0;
$color-black: #010101;




// // Animaton - Properties
// $alarm-animation-duration: 0s;
// $default-animation-timing-function: linear;
// $default-animation-delay: 0s;
// $default-animation-iteration-count: infinite;
// $default-animation-direction: normal;
// $default-animation-fill-mode: none;

// // Animation - Shorthand
// $default-animation: $default-animation-duration $default-animation-timing-function $default-animation-delay $default-animation-iteration-count $default-animation-direction $default-animation-fill-mode;